.contacts {
padding: 55px 30px 63px 30px;
}

.contacts-title {
font-size: 34px;
font-weight: 700;
color: var(--color-main-black);
margin-bottom: 75px;
}

.contacts-btn {
width: 210px;
height: 42px;
background-color: var(--color-main-black);
color: var(--color-main);
font-size: 24px;
font-weight: 500;
border: none;
border-radius: 21px;
margin-bottom: 35px;
}
.contacts-btn:hover{
   opacity: .8;
}
.button-link {

}

.socials {
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
gap: 30px;
}

.social-icon {
width: 65px;
height: 65px;
fill: var(--color-main-black);
}

.contacts-info {

}